/* sevenwasd-* prefix to avoid collisions */

.sevenwasd-emote {
  position: relative;
  margin: -1rem 0;
  padding-right: 4px;
  height: 28px;
}

.sevenwasd-popup {
  position: absolute;
  bottom: 50px;
  padding: 10px;
  width: 305px;
  height: 250px;

  background: var(--wasd-color-second);
  border: 2px solid var(--wasd-color-corp-prime);

  overflow: auto;
  word-break: break-word;
}

.sevenwasd-popup-button {
  color: var(--wasd-color-corp-gray);
  background: var(--color-first-layer);
  border: none;
}

.sevenwasd-popup .sevenwasd-emote {
  padding: 2px;
  margin: 1px;
}

.sevenwasd-popup .sevenwasd-input {
  width: 270px;
  margin-bottom: 10px;

  color: white;
  background-color: var(--wasd-color-second);
  border: 2px solid var(--wasd-color-corp-prime);
}